@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');


:root {
    --primary-color: #0a0a0a;
    /* Noir intense */
    --secondary-color: #c89b38;
    /* Or chaud */
    --light-color: #eeeeee;
    /* Gris très subtil */
    --dark-color: #222222;
    /* Gris foncé élégant */
}

body {
    /* Appliquer Roboto pour le corps du texte */
    font-family: 'Roboto', sans-serif;
    background-color: var(--light-color);
    color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.navbar-custom {
    background-color: var(--primary-color);
}

.navbar-brand-custom {
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.fat-text {
    font-weight: 700;
}

.navbar-brand:hover .navbar-brand-custom {
    transform: scale(1.05);
    color: var(--secondary-color) !important;
}

.navbar-brand,
.nav-link {
    color: var(--light-color) !important;
    transition: all 0.3s ease-in-out;
}


.nav-link:hover,
.footer-custom a:hover {
    color: var(--secondary-color) !important;
    transform: scale(1.1);
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.btn-custom {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bold;
}

.btn-custom:hover {
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.img-fluid {
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.img-fluid:hover {
    transform: scale(1.05);
    /* Augmente la taille de l'image de 5% */
    opacity: 0.9;
    /* Diminue l'opacité de 10% */
}

/*section hero*/
.hero-section {
    background: url('../images/aboutimage.jpg') no-repeat center center/cover;
    color: var(--light-color);
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s ease-out;
}

.hero-section:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero-title, .about-title, .afrinutri-title, .contact-title, .formation-title, .services-title{
    font-size: 3rem; 
}

@media (max-width: 768px) {
    .hero-title, .about-title, .afrinutri-title, .contact-title, .formation-title, .services-title {
        font-size: 1.5rem; /* Taille plus petite pour les mobiles */
    }
}

/*section stats*/

.stats-section {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.stat-item {
    padding: 20px;
}

.stat-number {
    font-size: 3rem;
    color: var(--secondary-color);
}

.stat-label {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*section about*/
.about-content {
    max-width: 65vw;
    margin: 0 auto;
    background-color: var(--light-color);
    padding: 30px;
    border-left: 6px solid var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    background-color:#ece7dd;
}

.about-content p {
    font-family: 'Roboto', sans-serif;
    color: var(--dark-color);
    font-size: 1.05rem;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: justify;
    transition: transform 0.3s ease-in-out;
}
.about-content p:hover {
     transform: translateX(10px);
}

@media (max-width: 768px) {
    .about-content {
        max-width: 90%;
        padding: 20px;
    }
}


/*section domaine d'expertise*/
.expertise-section {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.expertise-section .card-custom {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.expertise-section .card-custom .fa-3x,
.expertise-section .card-title {
    color: var(--light-color);
}



/*footer*/
.afri-nutri-logo {
    max-width: 400px;
    width: 100%;
    height: auto;
}
.footer-custom {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.footer-custom a {
    color: var(--light-color);
}

.footer-custom .list-unstyled li {
    margin-bottom: 5px;
}

.footer-custom .fab:hover {
    color: var(--secondary-color);
}

.footer-custom h5 {
    color: var(--secondary-color);
}

/*afrinutri section*/
.afrinutri-content, .histoire-content, .excellence-content {
    max-width: 65vw;
    margin: 0 auto;
    background-color: var(--light-color);
    padding: 30px;
    border-left: 6px solid var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    background-color:#ece7dd;
}

.afrinutri-content p, .histoire-content p, .excellence-content p {
    font-family: 'Roboto', sans-serif;
    color: var(--dark-color);
    font-size: 1.05rem;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: justify;
    transition: transform 0.3s ease-in-out;
}
.afrinutri-content p:hover, .histoire-content p:hover, .excellence-content p:hover {
     transform: translateX(10px);
}

@media (max-width: 768px) {
    .afrinutri-content, .histoire-content, .excellence-content {
        max-width: 90%;
        padding: 20px;
    }
}


/*les card pages services*/
.service-card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}



/*page formation*/
/*page formation, marge entre les formations*/
@media (min-width: 992px) {
    .extra-large-margin {
        margin-bottom: 100px !important;
    }
}

.justify-text {
    text-align: justify;
}

.bg-formation-1 {
    background-color: #f5f5f0;
}

.bg-formation-2 {
    background-color: #fafaf5;
}

/* Styles pour les deux cartes de contact */
.contact-card {
    background-color: var(--light-color);
    /* Arrière-plan harmonisé */
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    height: 100%;
    /* S'assure que la carte s'étire en hauteur */
    display: flex;
    flex-direction: column;
}

.contact-card .list-unstyled li {
    color: var(--dark-color);
}

.contact-card h2,
.contact-card p,
.contact-card label {
    color: var(--dark-color);
}

.contact-card .fa-2x {
    color: var(--secondary-color);
}

.contact-card .fa-map-marker-alt,
.contact-card .fa-phone,
.contact-card .fa-envelope {
    font-size: 2rem;
}

/*PAGE ABOUT*/
.image-gallery img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.image-gallery img:hover {
    transform: scale(1.05); /* Effet de zoom au survol */
}

/* Hauteurs des images de la galerie */
.gallery-img-tall {
    height: 300px;
}

.gallery-img-short {
    height: 200px;
}

/* Ajustement pour les écrans plus petits */
@media (max-width: 768px) {
    .gallery-img-tall {
        height: 200px;
    }

    .gallery-img-short {
        height: 150px;
    }
}